/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing
/storage/framework/testing/cache
/storage/framework/testing/sessions
/storage/framework/testing/views
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.backup
.phpunit.result.cache
yarn-error.log
/ftpsync.settings
